openapi: 3.2.0
info:
  license:
    name: Alice API Terms of Use
    url: https://app.alice.io/ts-platform/api-terms.pdf
  version: 3.0.0
  title: Alice API Documentation api keys API
  description: '# About This Guide

    This guide provides comprehensive documentation for Alice''s API offerings:


    **WonderSuite** - Our GenAI protection suite:

    - **WonderBuild**: Red teaming and security assessment tools for AI applications

    - **WonderFence**: Real-time guardrails for AI-generated content


    **ActiveFamily** - Our content moderation platform:

    - **ActiveScore**: AI-driven automated detection API that analyzes items and returns risk scores

    - **ActiveOS**: Self-service UI for organizing items, taking…'
  contact:
    name: Support
    email: support@alice.io
  termsOfService: https://app.alice.io/ts-platform/terms.pdf
servers:
- url: https://api.alice.io
  description: APIs Server
security:
- API Key: []
tags:
- name: API Keys
  description: Provides APIs to manage API key(s), including adding new keys, listing existing keys, and deleting keys.
paths:
  /v3/apikeys:
    post:
      summary: Generate New API Key
      operationId: post-generate-api-key
      description: 'Endpoint: https://api.alice.io/v3/apikeys


        The Generate New API Key allows generating a new API key with a specified name and optional description.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the new API key.
                  example: my-new-api-key
                  maxLength: 30
                description:
                  type: string
                  description: An optional description for the new API key.
                  example: API key for analytics service.
                  maxLength: 250
              required:
              - name
      responses:
        '200':
          description: API key successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the new API key.
                    example: my-new-api-key
                  description:
                    type: string
                    description: The description of the new API key, if provided.
                    example: API key for analytics service.
                  api_key:
                    type: string
                    description: The generated API key.
                    example: abc123xyz456
                  id:
                    type: string
                    description: A unique identifier for the API key.
                    example: 666709eaa8d91cbbba13a59d
                  created_at:
                    type: string
                    description: The creation timestamp of the API key.
                    example: '2024-12-31T23:59:59Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Input validation error
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                    example:
                    - field: name
                      message: Required
                    - field: description
                      message: '''description'' must not exceed 250 characters'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - API Keys
    get:
      summary: List API Keys
      operationId: get-api-keys
      description: 'Endpoint: https://api.alice.io/v3/apikeys


        The List API Keys retrieves a list of all existing API keys.


        Note: The information presented per API Key includes metadata only, whereas the key itself is not exposed due to confidentiality considerations.'
      responses:
        '200':
          description: A list of API keys.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the API key.
                      example: my-new-api-key
                    description:
                      type: string
                      description: The description of the API key, if provided.
                      example: API key for analytics service.
                    id:
                      type: string
                      description: A unique identifier for the API key.
                      example: 666709eaa8d91cbbba13a59d
                    created_at:
                      type: string
                      description: The creation timestamp of the API key.
                      example: '2024-12-31T23:59:59Z'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - API Keys
  /v3/apikeys/{id}:
    delete:
      summary: Delete API Key
      operationId: delete-api-key
      description: 'Endpoint: https://api.alice.io/v3/apikeys/{id}


        The Delete API Key deletes an API key by its identifier.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the API key to be deleted.
      responses:
        '204':
          description: API key successfully deleted. No content returned.
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - API Keys
components:
  responses:
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 429
              error:
                type: string
                example: Too Many Requests
              message:
                type: string
                example: Too Many Requests
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Too Many Requests
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 401
              error:
                type: string
                example: Unauthorized
              message:
                type: string
                example: Invalid credentials
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Invalid credentials
  securitySchemes:
    API_Key:
      name: af-api-key
      type: apiKey
      in: header
      description: '

        '
x-stoplight:
  id: 324cav554fkgg
x-tagGroups:
- name: WonderSuite
  tags:
  - General
  - WonderBuild
  - WonderFence
- name: ActiveFamily
  tags:
  - Integrating with ActiveOS
  - content
  - users
  - collection
  - flags
  - api keys
