openapi: 3.2.0
info:
  license:
    name: Alice API Terms of Use
    url: https://app.alice.io/ts-platform/api-terms.pdf
  version: 3.0.0
  title: Alice API Documentation Wonder Build API
  description: '# About This Guide

    This guide provides comprehensive documentation for Alice''s API offerings:


    **WonderSuite** - Our GenAI protection suite:

    - **WonderBuild**: Red teaming and security assessment tools for AI applications

    - **WonderFence**: Real-time guardrails for AI-generated content


    **ActiveFamily** - Our content moderation platform:

    - **ActiveScore**: AI-driven automated detection API that analyzes items and returns risk scores

    - **ActiveOS**: Self-service UI for organizing items, taking…'
  contact:
    name: Support
    email: support@alice.io
  termsOfService: https://app.alice.io/ts-platform/terms.pdf
servers:
- url: https://api.alice.io
  description: APIs Server
security:
- API Key: []
tags:
- name: WonderBuild
  description: WonderBuild provides red teaming and security assessment tools for AI applications. APIs for running comprehensive security assessments on gen-AI applications.
paths:
  /redteam/assessments/:
    get:
      summary: Assessments
      operationId: get-assessments
      description: 'Endpoint: https://api.alice.io/redteam/assessments/


        This synchronous endpoint is used to get defined red teaming assessments from the system with pagination support. It can return assessments based on filters, sorting, and pagination parameters.'
      parameters:
      - in: query
        name: search
        schema:
          type: string
        description: Search term to filter assessments by name
      - in: query
        name: applicationIds
        schema:
          type: array
          items:
            type: string
        description: Filter by application IDs
      - in: query
        name: applicationNames
        schema:
          type: array
          items:
            type: string
        description: Filter by application names
      - in: query
        name: status
        schema:
          type: array
          items:
            type: string
            enum:
            - ready
            - pending
            - in_progress
            - generating_report
            - completed
            - failed
        description: Filter assessments by status (can be multiple)
      - in: query
        name: createdBy
        schema:
          type: array
          items:
            type: string
        description: Filter by creator emails
      - in: query
        name: dateFrom
        schema:
          type: string
          format: date-time
        description: Filter assessments created from this date (ISO 8601 format, e.g., 2025-09-09T14:10:36.628Z)
      - in: query
        name: dateTo
        schema:
          type: string
          format: date-time
        description: Filter assessments created until this date (ISO 8601 format, e.g., 2025-09-09T14:10:36.628Z)
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
        description: Page number for pagination
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: 'Number of results per page (default: 20)'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - createdAt
          - lastUpdatedAt
          - name
          - status
        description: Field to sort by
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort order (ascending or descending)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        assessmentId:
                          type: string
                          description: ID of a given assessment.
                          example: 01992ed0-71cf-750a-83bf-f7406ca950dc
                        applicationName:
                          type: string
                          description: The name of the application being assessed.
                          example: MyChatbot
                        versionName:
                          type: string
                          description: The assessment version
                          example: 1.0.0
                        name:
                          type: string
                          description: The given name of the assessment.
                          example: Chatbot safety check
                        status:
                          type: string
                          description: The assessment's current status
                          example: ready
                        createdAt:
                          type: string
                          description: The creation timestamp of the assessment.
                          example: '2025-09-09T14:10:36.628Z'
                        lastUpdatedAt:
                          type: string
                          description: The last update timestamp of the assessment.
                          example: '2025-09-09T14:10:36.628Z'
                      required:
                      - assessmentId
                      - applicationName
                      - name
                      - status
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                        example: 1
                      limit:
                        type: integer
                        description: Number of items per page
                        example: 20
                      total:
                        type: integer
                        description: Total number of items
                        example: 150
                      totalPages:
                        type: integer
                        description: Total number of pages
                        example: 8
                      hasNextPage:
                        type: boolean
                        description: Whether there is a next page
                        example: true
                      hasPrevPage:
                        type: boolean
                        description: Whether there is a previous page
                        example: false
                    required:
                    - page
                    - limit
                    - total
                    - totalPages
                    - hasNextPage
                    - hasPrevPage
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - WonderBuild
  /redteam/assessments/run/{id}:
    post:
      summary: run assessment
      operationId: run-assessment
      description: 'Endpoint: https://api.alice.io/redteam/assessments/run/{id}


        This endpoint is given an ID of an existing assessment, which it will then run. The assessment must be in a run-ready state'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the assessment to clone.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessmentId:
                    type: string
                    description: ID of the assessment.
                    example: 01992ed0-71cf-750a-83bf-f7406ca950dc
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - WonderBuild
  /redteam/assessments/cloneAndRun/{id}:
    post:
      summary: Clone and run
      operationId: clone-and-run-assessment
      description: 'Endpoint: https://api.alice.io/redteam/assessments/cloneAndRun/{id}


        This endpoint is given an ID of an existing assessment, which it will then clone, and run the clone assessment.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the assessment to clone.
      - in: query
        name: reusePrompts
        schema:
          type: boolean
        description: Whether to reuse prompts from the original assessment or generate new ones.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessmentId:
                    type: string
                    description: ID of the newly cloned assessment.
                    example: 01992ed0-71cf-750a-83bf-f7406ca950dc
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - WonderBuild
  /redteam/assessments/runFromPreset:
    post:
      summary: Run assessment from preset
      operationId: run-assessment-preset
      description: 'Endpoint: https://api.alice.io/redteam/assessments/runFromPreset


        This endpoint is given an app name, an app version and a preset name. It will create a new assessment for the given app+version based on the preset, and run it.


        If the version does not exist, it will create it, based on the values of the last created version of the given app.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                preset_name:
                  type: string
                  description: The name of the preset to create an assessment from.
                  example: all_safety_checks
                app_name:
                  type: string
                  description: The name of the app the assessment will be checking. The app must have been pre configured in our system.
                  example: MyChatBot
                version_name:
                  type: string
                  description: The name of the app version that is being assessed. If it doesn't exist in our system, it will be created.
                  example: '1.2'
              required:
              - preset_name
              - app_name
              - version_name
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessmentId:
                    type: string
                    description: ID of the newly created assessment.
                    example: 01992ed0-71cf-750a-83bf-f7406ca950dc
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      tags:
      - WonderBuild
components:
  responses:
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 401
              error:
                type: string
                example: Unauthorized
              message:
                type: string
                example: Invalid credentials
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Invalid credentials
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 429
              error:
                type: string
                example: Too Many Requests
              message:
                type: string
                example: Too Many Requests
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Too Many Requests
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: \"text\" is required
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                        example: body
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: \"text\" is required
  securitySchemes:
    API_Key:
      name: af-api-key
      type: apiKey
      in: header
      description: '

        '
x-stoplight:
  id: 324cav554fkgg
x-tagGroups:
- name: WonderSuite
  tags:
  - General
  - WonderBuild
  - WonderFence
- name: ActiveFamily
  tags:
  - Integrating with ActiveOS
  - content
  - users
  - collection
  - flags
  - api keys
