openapi: 3.2.0
info:
  license:
    name: Alice API Terms of Use
    url: https://app.alice.io/ts-platform/api-terms.pdf
  version: 3.0.0
  title: Alice API Documentation Flags API
  description: '# About This Guide

    This guide provides comprehensive documentation for Alice''s API offerings:


    **WonderSuite** - Our GenAI protection suite:

    - **WonderBuild**: Red teaming and security assessment tools for AI applications

    - **WonderFence**: Real-time guardrails for AI-generated content


    **ActiveFamily** - Our content moderation platform:

    - **ActiveScore**: AI-driven automated detection API that analyzes items and returns risk scores

    - **ActiveOS**: Self-service UI for organizing items, taking…'
  contact:
    name: Support
    email: support@alice.io
  termsOfService: https://app.alice.io/ts-platform/terms.pdf
servers:
- url: https://api.alice.io
  description: APIs Server
security:
- API Key: []
tags:
- name: Flags
  description: The Flags API enables you to send details about the flag made on an item on your platform to the Alice T&S platform.
paths:
  /v3/flags:
    post:
      summary: Flags API
      operationId: post-flags
      responses:
        '200':
          $ref: '#/components/responses/200-sync'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      description: 'Endpoint: https://api.alice.io/v3/flags


        A flag represents a report by a platform user of what they consider a violative item, such as to specify that a content, a user or a collection is offensive, abusive or hate speech.


        The Flag API enables you to send details about the flag made on an item on your platform to the Alice T&S platform.


        You can specify one of the Alice supported violation types and/or specify a custom violation for the flag. You can also describe the reason for this flag.


        A Flags request must include the flagger''s ID, as well as an identifier of either the flagged content,user or collection. Only one of these identifiers should be specified in the request.


        If a flag with the same id is defined in Alice already, then its details are updated.


        If the flagged item and/or the flagger do not exist in Alice, they are automatically created as empty fields.


        Here is an example of a flag sent to the Alice T&S platform –


        {

        "flag_id":"flag1",

        "flagger_id":"user12345",

        "flagged_content_id":"content12345",

        "flagging_reasoning":"this is offensive",

        "flagged_at":"2023-01-15 20:31",

        "violation":"abusive_or_harmful.hate_speech"

        }


        Each item''s flag appears in the Flags pane on the right of the Moderator''s View when that item is selected.


        !FLAGS


        Each additional flag will appear similarly underneath it.


        The result of the Flags request shown above will appear in the Flags pane of the Moderator''s View as shown below –


        !FLAG


        In this example, **JOHN DOE** is the name of the user referenced in the **flagger_id** field.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                flag_id:
                  type: string
                  description: The unique identifier of the flag on your platform.
                flagger_id:
                  type: string
                  description: The ID of the user who created this flag. It is recommended to first add the details of this User using the Users API.
                flagged_content_id:
                  type: string
                  description: The unique identifier of the flagged content on your platform.
                flagged_collection_id:
                  type: string
                  description: The unique identifier of the flagged collection on your platform
                flagged_user_id:
                  type: string
                  description: The unique identifier of the flagged user on your platform.
                flagged_at:
                  anyOf:
                  - type: number
                  - type: string
                  description: "The date and time in which the item was flagged.\nThis field should be sent as a timestamp in Coordinated Universal Time (UTC).\nIf the field is omitted, it will be automatically populated with the current time at the time of processing.\nSupports [ISO 8601 time]( https://www.iso.org/iso-8601-date-and-time-format.html) string or UNIX number. \nISO format: YYYY-MM-DD HH:MM or MM-DD-YYYY HH:MM.\nFor example – \"2020-11-23 22:30\" 0r \"11-23-2015 05:30\"."
                  format: date-time
                flagging_reasoning:
                  type: string
                  description: Free text that describes the reason for the flag.
                  maxLength: 1024
                violation:
                  $ref: '#/components/schemas/violation_types'
                custom_violation:
                  type: string
                  description: Free text that describes a custom violation. This is not one of the violations supported by Alice.
              required:
              - flag_id
              - flagger_id
        description: 'A Flag request must include an identifier of a flagged content/user/collection, as well as the flagger''s ID.

          In the event that the flagged entity and/or the flagger do not exist in Alice, they are automatically created as empty fields.'
      tags:
      - Flags
components:
  schemas:
    violation_types:
      title: violation_types
      type: string
      enum:
      - abusive_or_harmful.harassment_or_bullying
      - abusive_or_harmful.profanity
      - abusive_or_harmful.hate_speech
      - abusive_or_harmful.child_grooming
      - abusive_or_harmful.graphic_violence
      - abusive_or_harmful.general_violence
      - abusive_or_harmful.child_abuse
      - abusive_or_harmful.promotes_terrorism
      - self_harm.general
      - adult_content.general
      - adult_content.swimwear
      - unauthorised_sales.drugs
      - unauthorised_sales.alcohol
      - unauthorised_sales.weapons
      - gambling.gambling
      - privacy_violation.PII
      description: violation types analyzed by Alice
    response_id_sync:
      title: response_id_sync
      type: string
      description: A tracking ID generated by the Alice platform upon receiving any request from your platform. This unique identifier enables you to trace events, if needed.
      x-stoplight:
        id: 9cf0ab8b08475
  responses:
    200-sync:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              response_id:
                $ref: '#/components/schemas/response_id_sync'
        application/xml:
          schema:
            type: object
            properties:
              response_id:
                $ref: '#/components/schemas/response_id_sync'
        multipart/form-data:
          schema:
            type: object
            properties:
              response_id:
                $ref: '#/components/schemas/response_id_sync'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: \"text\" is required
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                        example: body
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: \"text\" is required
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 429
              error:
                type: string
                example: Too Many Requests
              message:
                type: string
                example: Too Many Requests
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Too Many Requests
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
                example: 401
              error:
                type: string
                example: Unauthorized
              message:
                type: string
                example: Invalid credentials
              params:
                type: object
                properties:
                  body:
                    type: object
                    description: error type
                    properties:
                      source:
                        type: string
                      keys:
                        type: array
                        items:
                          type: string
                      message:
                        type: string
                        example: Invalid credentials
  securitySchemes:
    API_Key:
      name: af-api-key
      type: apiKey
      in: header
      description: '

        '
x-stoplight:
  id: 324cav554fkgg
x-tagGroups:
- name: WonderSuite
  tags:
  - General
  - WonderBuild
  - WonderFence
- name: ActiveFamily
  tags:
  - Integrating with ActiveOS
  - content
  - users
  - collection
  - flags
  - api keys
